# List of applications

This is my categorization for a lot of interesting webs and applications. Feel
free to contribute (in the last section you can see how)

{% for item in categories | dictsort %}
## {{ item[0]|capitalize }}

{%- for app in item[1] | sort(attribute='name') %}
- [{{ app.name }}]({{ app.url }}): {{ app.description }}
{%- endfor %}
{% endfor %}

# Contribute

Three easy steps:

- Edit the apps.yaml file. It is very easy. Try to reuse as many tags as
  possible. New apps must be inserted at the end.
- Run `make`. This will download the `taggeator.py` program and will execute it
  overriding the `README.md` file.
- Make a pull-request.

